body {
  background-color: black;
  color: white
}

.navbar {
  background-color: #2a1a10c0;
  border-bottom: solid #aaa;
  color: white;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.nav-left {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5rem;
}

.nav-elements {
  display: flex;
  padding: 20px;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.nav-center-filler {
  flex-grow: 1;
}

h1, h2 {
  font-family: 'Poppins';
  text-shadow: 2px 2px 4px #000000;
  background-color: black;
  padding: 20px;
  position: relative;
  left: -10vw;
  width: calc(100vw - 40px);
  box-shadow: 0px 0px 4px black;
  text-align: center;
}

hr {
  border: 2px solid #e62b1e;
  margin-bottom: 55px
}

.crystal {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 150vh;
  top: 0;
  left: 0;
  margin: 0;
  /* box-shadow: 0 0 200px rgba(0,0,0,0.9) inset; */
  background: radial-gradient(transparent, black);
  /* background: linear-gradient(45deg, rgba(200, 220, 250, 0.2) 10%, transparent 10%),
    linear-gradient(65deg, transparent 70%, rgba(200, 220, 250, 0.2) 70%),
    linear-gradient(15deg, rgba(200, 220, 250, 0.2) 80%, transparent 80%),
    linear-gradient(25deg, rgba(200, 220, 250, 0.2) 30%, transparent 30%),
    linear-gradient(-35deg, rgba(200, 220, 250, 0.2) 50%, transparent 50%); */
}

.stage-bg {
  position: absolute;
  z-index: -2;
  width: 200vw;
  transform: translateX(-26%);
  /* height: 150vh; */
  top: 0;
  left: 0;
  margin: 0;
}

object {
  position: relative;
  z-index: -1
}

.stream-login {
  width: 80%;
  background-color: #efefef;
  color: #22252a;
  padding: 10vw;
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 1vw);
  line-height: 1.5;
}

.main-stream-content {
  width: 100vw;
  background-color: #0000000a;
  /* color: #efefef; */
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 1vw);
  line-height: 1.5;
}

#particles-js {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
}

.stream {
  padding: 10vw;
  position: relative;
}

.stream-welcome {
  text-align: center;
}

.stream-logoBox {
  position: relative;
  height: 5vw;
  width: 32vw;
  margin: auto;
}

.floor-div {
  position:absolute;
  bottom:0;
  z-index: 3;
}

.floor {
  position:absolute;
  bottom: calc(100vw * -2.5/26.66);
  left: -10vw;
  width: 100vw;
}

.sign-out {
  text-align: center;
}

.nav-link {
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
  color: #eee;
  margin-left: 20px
}

.stream-video {
  margin: 0 auto;
  text-align: center;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 800px) {
  .stream-video {
    width: calc(80vw - 100px);
    background-image: url("/media-content/screen.png");
    padding: 50px 50px 25px 50px;
  }
}

.stream-video::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: calc(1080 / 1920 * 100%);
}

.stream-video-iframe {
  margin: 0 auto;
  width: calc(90vw);
  height: calc(9/16 * 90vw);
}

.chat {
  margin: 0 auto;
  /* background-color: #00000033; */
  background-size: 150px;
  padding: 20px;
}

@media only screen and (min-width: 800px) {
  .chat {
    padding: 100px;
    width: calc(100vw - 200px);
  }
  .stream-video-iframe {
    width: calc(80vw - 150px);
    height: calc(9/16 * (80vw - 150px));
  }
}

#flyzoo-embedded-chatroom {
  margin: 0 auto;
  filter: opacity(0.7);
  transition: filter 0.2s;
}

#flyzoo-embedded-chatroom:hover {
  filter: opacity(1);
}


.flyzoo-chatwindow, .flyzoo-morechats-window-desktop, #flyzoo-embedded-sidebar, #flyzoo-tab-label, #flyzoo-mobile-overlay, #flyzoo-stack-div, #flyzoo-dock-div, #flyzoo-bubble-label {
  display: none !important;
  opacity: 0 !important;
  height: 0 !important;
  width: 0 !important;
}

.breakout-room-links {
  display: flex;
  flex-wrap: wrap;
}

.breakout-room {
  position: relative;
  margin: 20px;
  height: 200px;
  background-color: #FcFcFc66;
  color: #666;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.breakout-room:hover {
  color: black;
  background-color: #FFFFFFaa;
}

.breakout-room-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
    .chatwee-widget {
      height: 400px
    }
}
